
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
	body,input,textarea,select{
		font-size: 11pt;
	}

	header
	{
		margin-bottom: 1.6em;
	}
	
		header h2
		{
			font-size: 1.8em;
		}

		header .byline
		{
			font-size: 1.9em;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
	
	.homepage #content header h2
	{
		font-size: 3.8em;
	}

	#sidebar h2
	{
		font-size: 16em;
	}

/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/

	#tweet blockquote
	{
		font-size: 1.6em;
	}	